.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#review-section {
  .review-form {
    .btn-primary {
      border-radius: 7px;
      width: 100%; /* Make the button full-width by default */
      height: 3rem;
      margin: 1rem 0;
      background-color: #8780f8;
      color: white;
    }
  }

  @media (min-width: 1000px) {
    /* Media query for screens wider than 768px (desktop) *//* Adjust the margin for spacing */
    .review-form {
      .btn-primary {
        width: 12rem; /* Set a fixed width for desktop */
        margin: 0 37rem; /* Adjust the margin for desktop */
      }
    }
  }
}
input, textarea, select {
  padding: 5px 10px;
  background-color: #262538;
  border: 1px solid #49485d;
  border-radius: 5px;
  color: #8c8aa7;
}

