* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;900&display=swap");
body {
  background: #1d1c2d;
  font-family: "Mulish", sans-serif;
  margin: 5px;
  min-height: 100vh;
  font-size: 1.2rem;
  padding: 0 10% 10%;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: #1d1c2d;
  color: whitesmoke;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
}

main {
  max-width: 500px;
  margin: auto;
}

section {
  margin-top: 2em;
}
label {
  padding: 10px 0rem;
}
article {
  background-color: #2c2b3f;
  padding: 1em 2em;
  border-radius: 5px;
  margin: 1rem 10px;
  line-height: 3rem;
}

h1 {
  font-size: 3.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.postCredit {
  font-size: 1rem;
}

.user-post-section {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  
  .user-avatar {
    display: flex;
    width: 35px;
    height: 35px;
    background-color: #8780f8;
    border-radius: 50%;
  }

  .user-name {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem;
  }

  .user-timestamp {
    font-size: 14px;
    font-weight: 700;
    color: #8c8aa7;
  }
}

.user-reaction {
  /* Adjust margin-left to provide spacing between user-name and user-reaction */
  margin-left: 1rem;

  .reactionButton {
    background: transparent;
    border: none;
    color: whitesmoke;
    font-size: 1rem;
    margin: 0.5rem 1rem; /* Adjust margin for spacing */
  }

  @media (max-width: 768px) {
    /* Media query for screens narrower than 768px (mobile) */
    flex-direction: column; /* Stack items vertically in mobile view */
    align-items: flex-start; /* Align items to the start in mobile view */

    .user-reaction {
      margin-left: 0; /* Remove margin for mobile view */
    }
  }
}



